html{
    background-color: aqua;
    text-align: center;
}
h1{
    color:blue;
    background-color:#F6FA70;
}
h3{
    color:blueviolet;
    text-decoration-line: underline;
    background-color: #FFE79B;
}
p{
    color:darkblue;
    font-weight: bolder;
}
.text{
    text-align: left;
}
ul{
    color:darkblue;
    margin-top: 5px;
    font-weight:bold;
}
ol{
    color:dodgerblue;
    margin-left: 5px;
    font-weight: bolder;
}
.red-text{
    color:red;
}
#main{
    color:red;
    text-decoration-line: underline;
}