html{
    background-color: aqua;
    text-align: center;
}
h1{
    background-color:#F6FA70;
    border: 3px solid black;
    border-style: dashed;
    margin-left: 200px;
    margin-right: 200px;
    padding: 3px;
}
h3{
    color:blueviolet;
    background-color: #FFE79B;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
}
p{
    color:darkblue;
    font-weight: bolder;
}
.text{
    text-align: left;
}
ul{
    color:darkblue;
    margin-top: 5px;
    font-weight:bold;
}
ol{
    color:dodgerblue;
    margin-left: 5px;
    font-weight: bolder;
}
.red-text{
    color:red;
}
#main{
    color:red;
}
img{
    border: 5px solid blue;
    border-style: double;
    padding: 5px;
    margin-left: 250px;
    margin-right: 250px;
}